<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matthias Jung</string>
	<key>Builder Version</key>
	<string>12602.1.50.0.10</string>
	<key>CFBundleDisplayName</key>
	<string>Faviicon</string>
	<key>CFBundleIdentifier</key>
	<string>de.webappjung.faviicon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>index.html</string>
				<key>Identifier</key>
				<string>Faviicon</string>
				<key>Label</key>
				<string>Faviicon</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>faviicon.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>A Safari Favicon Toolbar for Owncloud Bookmarks</string>
	<key>DeveloperIdentifier</key>
	<string>PGFS458M58</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.webappjung.de</string>
</dict>
</plist>
